<div class="container">
    <h2>All post</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Contents</th>
          <th class="text-justify">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.body }}</td>
          <td class="text-justify">
              <i class="fa fa-pencil" aria-hidden="true" (click)="editPost(post)"></i>
              <i class="fa fa-trash-o" aria-hidden="true" (click)="deletePost(post)"></i>
          </td>
        </tr>
      </tbody>
    </table>
</div>
